In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [26]:
# Создаём сэмпл
n_samples = 500

number_of_floors = np.random.choice(50, n_samples) + 1
apartments = np.random.choice(4, n_samples) + 1
concrete_price = np.random.choice(600, n_samples) + 2000
employees = np.random.choice(30, n_samples) + 5
salary = np.random.choice(50000, n_samples) + 20000

build_price = concrete_price * number_of_floors + employees * salary

data = pd.DataFrame({'number_of_floors': number_of_floors, 'apartments': apartments, 'concrete_price': concrete_price, 'employees': employees, 'salary': salary, 'build_price': build_price})
data.head(5)

,number_of_floors,apartments,concrete_price,employees,salary,build_price
0,46,2,2338,30,61247,1944958
1,48,1,2478,24,36546,996048
2,30,1,2356,5,47658,308970
3,7,1,2288,33,45266,1509794
4,41,2,2023,19,56871,1163492

In [27]:
from sklearn.metrics import mean_absolute_error

X = data[['number_of_floors', 'apartments', 'concrete_price', 'employees', 'salary']]
y = data['build_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['number_of_floors', 'apartments', 'concrete_price', 'employees', 'salary']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 2.67347278e+03 -8.42026990e+02  6.24056899e+01  4.50202904e+04
  2.00074265e+01]
Bias: -1052016.7651825265
Error: 93751.33302300549

In [28]:
X = data[['number_of_floors', 'concrete_price', 'employees', 'salary']]
y = data['build_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['number_of_floors', 'concrete_price', 'employees', 'salary']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [2.67644982e+03 6.19088042e+01 4.50252496e+04 2.00100230e+01]
Bias: -1053280.009867367
Error: 93761.68753664473

In [29]:
# Создаем новый признак
data['mult1'] = data['number_of_floors'] * data['concrete_price']
data['mult2'] = data['employees'] * data['salary']
data.head(5)

,number_of_floors,apartments,concrete_price,employees,salary,build_price,mult1,mult2
0,46,2,2338,30,61247,1944958,107548,1837410
1,48,1,2478,24,36546,996048,118944,877104
2,30,1,2356,5,47658,308970,70680,238290
3,7,1,2288,33,45266,1509794,16016,1493778
4,41,2,2023,19,56871,1163492,82943,1080549

In [30]:
X = data[['mult1', 'mult2']]
y = data['build_price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult1', 'mult2']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1. 1.]
Bias: 1.1641532182693481e-10
Error: 2.316664904356003e-11